<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/public/assets/css/bootstrap.min.css"><!-- Link to bootstrap library-->
    <link rel="stylesheet" href="/public/assets/css/materialize.min.css"><!-- Link to materialize library-->
    <link rel="shortcut icon" type="image/svg" href="/public/assets/img/site/logo.svg" /><!-- Link to title icon logo-->
</head>

<body>
    <p>

        Thank you for your order at 3Blocks. Your order <%= orderId %> status is "Successful" and you should receive
            tokens in your
            whitelisted wallet address within 10-15 minutes.
            Make sure to add the token contract address and symbol to your wallet to see these tokens. Alternatively,
            you
            can
            check
            opensean for the tokens.
            <br />
            If tokens are not received, please get in touch with us over Discord or email us at <b>admin@3blocks.io</b>.
    </p>

</body>